<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script defer src="/static/add.js"></script>
    <title>Edition</title>
</head>
<body>  
    <form id="addForm" action="">
        <label for="titre">Titre du film</label>
        <input type="text" name="nom" id="nom" value="">

        <label for="image">Url de l'image</label>
        <input type="text" name="image" id="image" value="">

        <label for="description">Description</label>
        <input type="text" name="description" id="description" value="">

        <label for="difficulte">Difficulté</label>
        <input type="text" name="difficulte" id="difficulte" value="">

        <input type="submit" value="Ajouter">
    </form>
</body>
</html>